@media screen and (max-width: 991px) {
  /********* Navbar *************/
  .navbar {
    text-align: center;
  }
  #menu ul {
    text-align: center;
    position: absolute;
    left: 40%;
    right: 45%;
    top: 0%;
  }
  .dropdown-menu a {
    text-align: center;
  }
  .op{
    padding-top: 4rem;
  }
  .end p,
  .end h4 {
    text-align: center;
  }
  .dst {
    margin-left: 35px;
  }
}
@media screen and (max-width: 768px) {
  .sub {
    padding-top: 2rem;
  }
}
